/* LAYOUT */
.container {
	height: 475px;
	-webkit-box-shadow: 0px 0px 23px 2px rgba(0,0,0,0.71);
	-moz-box-shadow: 0px 0px 23px 2px rgba(0,0,0,0.71);
	box-shadow: 0px 0px 23px 2px rgba(0,0,0,0.71);
	border-radius: 20px;
}

.container_bottom {
	height: 100px;
	margin-top: 20px;
}
.column {
    float: left;
    position: relative;
	text-align: center;
	height: 100%;
}
.column.bottom {
	padding-top: 10px;
}

.column-one {
	border-radius: 20px 0px 0px 20px;
}
.column-five {
	border-radius: 0px 20px 20px 0px;
}

.column-one, .column-three, .column-five {
	width: 32%;
	min-width: 365px;
}

.column-two, .column-four {
	width: 2%;
}

.column-one.bottom {
	-webkit-box-shadow: 0px 0px 23px 2px rgba(0,0,0,0.71);
	-moz-box-shadow: 0px 0px 23px 2px rgba(0,0,0,0.71);
	box-shadow: 0px 0px 23px 2px rgba(0,0,0,0.71);
	border-radius: 20px;
	width: 79%;
	margin-right: 1%;
}
.column-two.bottom {
	-webkit-box-shadow: 0px 0px 23px 2px rgba(0,0,0,0.71);
	-moz-box-shadow: 0px 0px 23px 2px rgba(0,0,0,0.71);
	box-shadow: 0px 0px 23px 2px rgba(0,0,0,0.71);
	border-radius: 20px;
	width: 20%;
	min-width: 215px;
}